<h1>This is Contact Page</h1>
<h2>Contact List </h2>
<div class="button">
    <a class="btn btn-primary" href="Add">Add Contact</a>
</div> 
    <!-- Check If Array Empty -->
    <% if (cont.length == 0) { %>       
        <p>Data is empty</p>
    <% } else { %>
        <!-- Menampilkan Array dari app.js -->
            <table id="table">
                <tr>
                    <th> </th>
                    <th>No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <% cont.forEach(function(conts,id) { id++ %>
                    <td> <input type="checkbox" class="select" value="<%= conts.name %>"></td>
                    <td> <%= id %> </td>
                    <td> <%= conts.name %> </td>
                    <td> <%= conts.email %> </td>  
                    <td>
                        <div class="button">
                            <a class="btn btn-success" href="/Detail/<%= conts.name%>">Detail</a>
                        </div>
                    </td> 
                </tr>
                    <% }) %>
            </table>
    <% } %>
    <button type="button" onclick="deleteRow()" class="btn btn-danger">Delete</button>
<script>
    function deleteRow(){
        const table = document.getElementById("table")
        for(const [index, row] of [...table.rows].entries()){
            if(row.querySelector('input:checked')){
            table.deleteRow(index)
            }
        }
    }
</script>
