<section style="background-color: #eee;"> 
  <% if (data.length) { %>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Absensi Pegawai</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link waves-effect waves-light" href="/Dashboard">Home</a>
            </li>
            <% if (data[0].position === 'Admin') { %>
              <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="/Employee">Employee</a>
              </li>
            <% } %> 
          </ul>
        </div>
  </nav>
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="../img/<%= data[0].image %>" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3"><%= data[0].username %></h5>
              <p class="text-muted mb-1"><%= data[0].email %></p>
              <p class="text-muted mb-4"><%= data[0].position %> </p>
              <a class="btn btn-success" href="/Detail/Absensi/<%= data[0].id%>">Detail</a>
			        <a class="btn btn-danger" style="margin-top: 5px;;" href="/logout">Logout</a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <form method="POST" action="/AbsenMasuk">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Full Name</p>
                  </div>
                  <div class="col-sm-9">
                    <input class="text" type="hidden" id="user_id" name="user_id" value="<%= data[0].id %>">
                    <input class="text" type="form-controller" id="name" name="name" value="<%= data[0].name %>">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Absen Masuk</p>
                  </div>
                  <div class="col-sm-9">
                    <input class="form-control" type="date" id="date" name="date" placeholder="Select Date">
                    <input class="form-control" type="time" id="time" name="time" placeholder="Select Time">
                  </div>
                  <input class="text" type="hidden" id="ket" name="ket" value="Time In">
                </div>
                <button type="submit" class="btn btn-primary">Time In</button>
                <hr>
              </form>
              <form method="POST" action="/AbsenPulang">
                <div class="row">
                  <div class="col-sm-9">
                    <input class="text" type="hidden" id="user_id" name="user_id" value="<%= data[0].id %>">
                    <input class="text" type="hidden" id="name" name="name" value="<%= data[0].name %>">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Absen Keluar</p>
                  </div>
                  <div class="col-sm-9">
                    <input class="form-control" type="date" id="date" name="date" placeholder="Select Date">
                    <input class="form-control" type="time" id="time" name="time" placeholder="Select Time">
                  </div>
                  <input class="text" type="hidden" id="ket" name="ket" value="Time Out">
                </div>
                <button type="submit" class="btn btn-primary">Time Out</button>
                <hr>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% } %> 
</section>